div.option-group {
  padding: 6px 10px 6px 25px;
  background-color: rgb(240,240,240);
  margin: 5px;
}
.checkbox{
  padding: 6px 10px 6px 25px;
}
input.checkbox{
  margin:0px;
}

input.number{
  height:30px;
  margin:5px;
}

label {
  background-color: rgb(250,250,250);
  padding: 6px 10px 6px 25px;
  margin: 5px;
}